body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.page{
    width: 400px;
    height: 600px;
    background-image: url(bgimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 5px solid blue;
    padding:25px;
    box-sizing:border-box;
    background-clip: padding-box;
    position: relative;
}

.hr{
    color: lightblue;
    width: 125px;
    right: 200%;
}

.insights{
    font-size: 15px;
   font-weight: bolder;
   margin-bottom: 25px;
}
.edit{
    font-size: 20px;
    font-weight: bold;
    margin-top: 210px;
}
.title{
font-size: 50px;
     margin: 14px 0 14px 0;
   font-weight: bold;
    text-align: center;
}
.subtitle{
    font-size: 20px;
    margin-bottom: 45px;
}
.pic{
    
    position: absolute;
    background: url("sifizphoto.jpg") no-repeat center;
    bottom: 110px;
    left: 65%;
    width: 130px;
    height: 120px;
    background-size: contain;   

}
.name{
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
   
}
.bottom{
    position: absolute;
    bottom: 55px;
    right: 22px;
    font-weight: bold;
}
